<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
</head>
<body>
    <h1>Vítej v aplikaci pro poznámky</h1>

    <p><a href="/auth/register"><button>Registrovat</button></a></p>
    <p><a href="/auth/login"><button>Přihlásit se</button></a></p>
</body>
</html>
